# مسار قاعدة بيانات Supabase الخاص بك
VITE_SUPABASE_URL=https://api.ibraabot.online

# مفتاح API العام (Anon Key)
VITE_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4MDQyMzIwMCwiZXhwIjo0OTM2MDk2ODAwLCJyb2xlIjoiYW5vbiJ9.K1zmu8ovAJcvfJlMufvcZfpysn6i9-iKTwX93lCzohU

# (اختياري) مفتاح صلاحيات الإدارة الكاملة في حال كنت تستخدمه في بعض الدوال الإدارية
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4MDQyMzIwMCwiZXhwIjo0OTM2MDk2ODAwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.eLcQuZeglkZNELd49wQkrJYUblThBjQLK91HMTKCjhI
